body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #141D37; 

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Header and navigation bar */
.header {
  display: flex;
  flex-direction: row;
}
.header-left .name{
  color: white;
  font-family: 'Play', sans-serif;
  font-size: 1rem;
}
.header-left, .header-right {
  width: 50%;
}
.header-left {
  display: flex;
  flex-direction: row;
  justify-content: left;    
}
.header-right {
  display: flex;
  flex-direction: row;
  justify-content: right;
}
.menu {
  color: white;
  margin-right: 5px;
  text-align: right;
}
.navigation {
  background-color:#0C4BA0;
  display: flex;
  flex-direction: column;
  justify-content: right;  
  align-items: center;
  font-size:0.8rem
}
.navigation h2{
  color: white;
  padding: 0 5px;
  text-decoration: none; 
  opacity: 1;
}
.navigation h2:hover {
  color: lightblue; 
}

/* Header photo and subtitle */
.slide-container {
  margin: 0 10%;
  height: 40%;
  width: 80vw;
}
.each-photo img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius:0%;
}
.title h1{
  display: flex; 
  align-items: center;
  justify-content: center;
  color:white; 
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -150%);
  font-size: 40px; 
  opacity: 1;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
  padding-bottom: 5px;  
}
img {
  border-radius: 5px;
}
.ComponentContainer{
  height: 70%;
  justify-content: center;
  align-items: center;
  display:flex;
}
.ModalContainer{
  width: 500px;
  background: white;
  padding: 2rem;
  text-align: center;
  border-radius: 5px; 
}
form{
  padding:1rem;
}
label{
  display: block;
  text-align: left;
  font-size: 1.5rem;
  margin-top: 0.5em;
}
input{
  font-size: 1rem;
  padding: 1rem 0;
  width:100%;
  border-radius: 10px;
  border: 1px black solid;
}
select{
  font-size: 1rem;
  padding: 1rem 0;
  width:100%;
  border-radius: 10px;
  border: 1px black solid;
}
button{
  padding:1rem;
  width: 100%;
  margin-top: 1em;
  border-radius: 10px;
}
.SelectTime{
  font-size: 1rem;
  padding: 1rem 0;
  width:10%;
  margin: 0 0.5em;
}

/* For footer */
footer{
  font-family: 'Wire One', sans-serif; 
  font-weight: bold;
  display:flex;
  flex-direction: column;
  justify-content: center;
  color:#fff;
  padding: 0 10%;
}
footer h2{
  color:#fff;
  width:100%;
  text-align: center;
}
footer a, footer h3{
  text-align: center;
  color:#fff;
}
.footerContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.right, .left{
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  /* border: 5px solid red; */
}
.left div.info{
  width:60%;
  line-height:2.5;
}
.right form {
  width: 100%;
}
input .message {
  height: 30px;
}

.bottom{
  width:100%;
  text-align:right;
}
.bottom p{
  color:#fff;
  margin-right:5%;
  margin-top:2%;
}
@media (max-width: 500px) {
  .footerContainer {
    display: flex;
    flex-direction: column;
    }
}
